{% extends 'layout.html.twig' %}

{% block contents %}
    <form class="form-horizontal" action="{{ path('borrowPost') }}" method="post">
        <fieldset>
            <legend>Formulaire d'emprunt</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="borrower">Nom de l'emprunteur</label>
                <div class="col-md-4">
                    <input id="borrower" name="borrower" placeholder="" class="form-control input-md" required=""
                           type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="strDate">Date de début </label>
                <div class="col-md-4">
                    <div class="input-group date">
                        <input type="text" name="datepickerDebut" class="form-control datepicker" id="datepickerDebut">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <span class="help-block">Normalement, aujourd'hui</span>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="strDate">Date de fin</label>
                <div class="col-md-4">
                    <div class="input-group date">
                        <input name="datepickerFin" type="text" class="form-control" id="datepickerFin">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-3">
                    <input class="form-control input-md" required=""
                           type="submit" value="Emprunter !">
                </div>
            </div>
            <input type="text" hidden="hidden" value="{{ bookId }}" name="bookId">
            <input type="text" hidden="hidden" value="{{ copyId }}" name="copyId">


        </fieldset>
    </form>

    <script>
        $('#datepickerDebut').datepicker((
        {
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            clearBtn: true,
            language: "fr",
            daysOfWeekDisabled: "0,6",
            daysOfWeekHighlighted: "1,2,3,4,5",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        }
        )).datepicker('setDate', new Date());
        ;


        $('#datepickerFin').datepicker(
                {
                    format: "yyyy-mm-dd",
                    todayBtn: "linked",
                    clearBtn: true,
                    language: "fr",
                    daysOfWeekDisabled: "0,6",
                    daysOfWeekHighlighted: "1,2,3,4,5",
                    calendarWeeks: true,
                    autoclose: true,
                    todayHighlight: true
                }
        );
    </script>
{% endblock %}
