{% extends 'layout.html.twig' %}

{% block contents %}
    <form class="form-horizontal" action="{{ path('borrowPost') }}">
        <fieldset>
            <legend>Formulaire d'emprunt</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="borrower">Nom de l'emprunteur</label>
                <div class="col-md-4">
                    <input id="borrower" name="borrower" placeholder="" class="form-control input-md" required=""
                           type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="strDate">Date de début</label>
                <div class="col-md-4">
                    <input id="strDate" name="strDate" placeholder="" class="form-control input-md" required=""
                           type="date">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-3">
                    <input class="form-control input-md" required=""
                           type="submit" value="Emprunter !">
                </div>
            </div>
            <input type="text" hidden="hidden" value="{{ bookId }}" name="bookId">
            <input type="text" hidden="hidden" value="{{ copyId }}" name="copyId">


        </fieldset>
    </form>
{% endblock %}
